

body {
	  width: 100%;
	  height: 100%;
	  margin: 0;
	  padding: 0;
	  background-color: #FAFAFA;
	  font-size: 1.5rem;
	  font-weight: 400;
	  /*font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	  font-family: "微软雅黑 Light";
	  line-height: 1.3;
 }
 * {
	  box-sizing: border-box;
	  -moz-box-sizing: border-box;
 }
 .page {
	  position: relative;
	  width: 210mm;
	  min-height: 300mm;
	  padding: 0mm;
	  margin: 10mm auto;
	  /* border: 1px #D3D3D3 solid; */
	  border-radius: 5px;
	  background: white;
	  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
 }
 .subpage {
	  padding: 1cm;
	  border: 5px #ccc solid;
	  /*height: 257mm;*/
	  outline: 2cm whitesmoke solid;
 }
.container:after,
.row1:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }
.nine_columns{
	/*font-size: 1.1rem;*/
	width: 74.0%;
	font-size: 3rem;
}

 @page {
	  size: A4;
	  margin: 0;
 }
 @media print {
	  html, body {
			width: 210mm;
			height: 297mm;
	  }
	  .page {
			margin: 0;
			border: initial;
			border-radius: initial;
			width: initial;
			min-height: initial;
			box-shadow: initial;
			background: initial;
			page-break-after: always;
	  }
    .no-print, .no-print * {
        display: none !important;
    }
 }

p{ margin-bottom: 1rem }

.iframe{ border: none; }

.gs-header{ color: white !important; -webkit-print-color-adjust: exact; }

.gs-text-header{ background: #00a99e !important;
	-webkit-print-color-adjust: exact;
    }

.gs-table-header{ background: #00a99e !important; -webkit-print-color-adjust: exact; }

.gs-accent-header{ background: #00a99e !important; -webkit-print-color-adjust: exact; }

div.padded{ padding: 10px; }

h6.padded, p.padded{
	padding: 2px 5px;
	margin-top: 10px;
	margin-bottom: 2px;
}

.blue-text{ color: #8496B8; }

table{ width: 100% }

td{ padding: 2px 0px }

tr:nth-child(even) { background-color: #D7DBE1; -webkit-print-color-adjust: exact; }

table.reversed tr:nth-child(odd) { background-color: #D7DBE1; -webkit-print-color-adjust: exact; }
table.reversed tr:nth-child(even) { background-color: white; }

table{
	font-size: 0.95rem;
	border-spacing: 0;
   border-collapse: collapse;
}

table.tiny-header tr:first-child{
	font-size: 8px;
}

.columns{ margin-left: 0 !important; width: 49%;}
.col{ margin-left: 0 !important; width: 10%;}
.four_col{margin-left: 0 !important; width: 20%;}
.row > .columns:not(:first-child){
	padding-left: 20px;
}

td, th { border: 0 }

h1, h5, h6{ margin: 0 }

h6{ font-size: 1.425rem }

h6.tiny-header {
  font-size: 10px;
}

li {
  padding-left: 10px;
}

a {
  color: black;
  cursor: pointer;
}

.page-view {
    text-align: left;
    padding-top: 40px;
}

.middle-aligned {
  padding: 50px 20px 0 0;
  text-align: left;
  vertical-align: middle;
}

.right-aligned {
  text-align: right;
}

.no-page {
  text-align: center;
  margin-top: 100px;
  font-size: 22px;
  font-weight: bold;
}

.tab {
	border-style: solid;
    border-color: rgba(0,0,0,0.2);
    border-bottom-style: none;
    border-top-style: none;
    border-right-style: none;
    color: black;
    padding: 10px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.tab.first {
	border-left-style: none;
}

/* .tab:focus {
	border-style: solid;
    border-color: rgba(0,0,0,1);
    border-bottom-style: none;
    border-top-style: none;
    color: black;
    padding: 10px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
} */

#page-content > div:nth-child(n+2) > a {
  visibility: hidden;
}

.flex{
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-between;
}
.flex_start{
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: flex-start;
}